h1 {   
    font-family: Poppins;
    font-weight: 800;
    color: var(--Black, #000); 

}
h2 {
    font-family: Poppins;
    font-weight: 700;
    color: var(--Black, #000); 
}
h3 {
    font-family: Open Sans;
    font-weight: 400;
    color: var(--Black, #000); 
}

/* *** RESPONSIVE DESIGN *** */
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    background-color: white;
}