h1 {   
    font-family: Poppins;
    font-weight: 800;

}
h2 {
    font-family: Poppins;
    font-weight: 700;
}

h3 {
    font-family: Open Sans;
    font-weight: 400
}
* {
    box-sizing: border-box;
  }
.body {
    width: 100%
}